<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head"></head>
<body>
<span th:replace="fragments.html::main-nav"></span>

<header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('/images/curved-images/curved-11.jpg')">
        <div class="mask bg-gradient-faded-dark opacity-3"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">상품 상세</h1>
                    <p class="lead text-white mt-3">

                    </p>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html::wave-animation"></div>
    </div>
</header>

<div class="container">
    <div class="row">

        <div class="card-group">
            <div class="card">
                <div class="card-header text-center p-0 mx-3 mt-3 position-relative z-index-1">
                    <img th:src="${product.productImage}" class="img-fluid border-radius-lg" width="400" height="auto"/>
                </div>
            </div>

            <div class="card">
                <div class="card-body pt-2">
                    <span class="text-gradient text-primary text-lg font-weight-bolder my-2"
                          th:text="${product.productName}">
                    </span>

                    <hr class="horizontal dark mb-2"/>

                    <span th:if="${!product.isSale()}" class="card-title h5 d-block text-darker" id="priceDisplay"
                          th:text="${#numbers.formatCurrency(product.productPrice)}">
                    </span>

                    <span th:if="${product.isSale()}" class="card-title">
                        <del th:text="${#numbers.formatCurrency(product.productPrice)}"></del>
                        <span class="text-bolder text-lg text-danger text-gradient ms-3" th:text="${'-' +  product.saleRate + '%'}"></span>
                        <span class="h5 d-block text-darker" id="salePriceDisplay"
                              th:text="${#numbers.formatCurrency(product.getSalePrice())}"></span>
                    </span>

                    <div th:if="${#conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.isEmailVerified()}" sec:authorize="isAuthenticated()" class="text-info text-gradient font-weight-bolder" th:text="${#conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.memberGrade.gradeName + ' 등급 혜택'}"></div>
                    <p sec:authorize="isAuthenticated()" class="my-auto" th:if="${!product.isSale() && #conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.isEmailVerified()}">
                        <span class="text-dark text-muted">구매 확정시</span>
                        <span class="text-primary text-gradient font-weight-bolder text-lg" th:text="${#numbers.formatInteger((product.productPrice * #conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.memberGrade.pointSaveRate) / 100 , 3, 'COMMA')}"></span>
                        <span class="text-dark text-muted"> 포인트 적립 예정</span>
                    </p>

                    <p sec:authorize="isAuthenticated()" class="my-auto" th:if="${product.isSale() && #conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.isEmailVerified()}">
                        <span class="text-dark text-muted">구매 확정시</span>
                        <span class="text-primary text-gradient font-weight-bolder text-lg" th:text="${#numbers.formatInteger((product.getSalePrice() * #conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.memberGrade.pointSaveRate) / 100 , 3, 'COMMA')}"></span>
                        <span class="text-dark text-muted"> 포인트 적립 예정</span>
                    </p>


                    <input th:if="${!product.isSale()}" type="hidden" id="currentPrice" th:value="${product.productPrice}"/>
                    <input th:if="${product.isSale()}" type="hidden" id="currentSalePrice"
                           th:value="${product.getSalePrice()}"/>

                    <p class="card-description mb-4">
                        <span th:text="${product.productStock + '개 남음'}"></span>
                    </p>

                    <form action="#" sec:authorize="isAuthenticated()" th:if="${#conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.isEmailVerified()}" th:action="@{/order/direct}" method="post" class="row row-cols-lg-auto g-3 my-auto">
                        <input type="hidden" name="productId" id="productId" th:value="${product.id}"/>
                        <div class="col-12 align-items-center">
                            <label class="visually-hidden" for="quantity">수량</label>
                            <input type="number" class="form-control" name="quantity" id="quantity" value="1" placeholder="수량" min="0"/>
                        </div>

                        <div sec:authorize="isAuthenticated()" th:if="${!product.isShoppingBagAdded()}" class="col-12 align-items-center">
                            <button type="button" id="addShoppingBagBtn" class="btn btn-outline-info">장바구니 담기</button>
                        </div>

                        <div sec:authorize="isAuthenticated()" th:if="${product.isShoppingBagAdded()}" class="col-12 align-items-center">
                            <button type="button" id="minusShoppingBagBtn" class="btn btn-outline-danger">장바구니 빼기
                            </button>
                        </div>

                        <div th:if="${!product.isShoppingBagAdded()}" class="col-12 align-items-center">
                            <button type="submit" class="btn btn-primary">바로구매</button>
                        </div>

                    </form>

                    <span sec:authorize="isAnonymous()">
                        <a role="button" class="btn btn-primary bg-gradient" href="/login">로그인 하여 구입하기</a>
                    </span>
                    <span sec:authorize="isAuthenticated()"
                          th:if="${!#conversions.convert(#authentication.principal, T(io.twosom.ecommerce.account.UserAccount)).account.isEmailVerified()}">
                        주문을 하기 위해서는 이메일 인증이 필요합니다.
                    </span>


                </div>
            </div>

        </div>

    </div>

    <hr class="horizontal dark my-5"/>

    <div class="row">
        <div th:utext="${product.productDescription}"></div>
    </div>


    <footer th:replace="fragments.html::footer"></footer>
</div>
</body>
<script sec:authorize="isAuthenticated()" th:if="${!product.isShoppingBagAdded()}">
    (function () {
        const addBtn = document.querySelector('#addShoppingBagBtn');

        addBtn.onclick = async function () {
            const productId = document.querySelector('#productId').value;
            const quantity = document.querySelector('#quantity').value;


            const csrfHeader = document.querySelector('#_csrf_header').content;
            const csrf = document.querySelector('#_csrf').content;

            const data = {
                productId: productId,
                quantity: quantity
            };

            const options = {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrf
                },
                body: JSON.stringify(data)
            };


            const response = await fetch('/shopping-bag/add', options);

            if (response.ok) {
                location.reload();
            } else {
                const message = await response.text();
                alert(message);
            }

        };
    }());
</script>
<script sec:authorize="isAuthenticated()" th:if="${product.isShoppingBagAdded()}">
    const minusBtn = document.querySelector('#minusShoppingBagBtn');

    minusBtn.onclick = function () {
        const productId = document.querySelector('#productId').value;
        const csrfHeader = document.querySelector('#_csrf_header').content;
        const csrf = document.querySelector('#_csrf').content;

        const data = {
            productId: productId
        };

        const options = {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrf
            },
            body: JSON.stringify(data)
        };

        fetch('/shopping-bag/minus', options)
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    throw new Error();
                }
            }).catch(err => {
            alert('오류가 발생하였습니다. 다시 시도해주세요.');
        });
    };
</script>
<script th:if="${!product.isSale()}">
    (function () {
        const quantityElement = document.querySelector('#quantity');
        const priceDisplay = document.querySelector('#priceDisplay');

        quantityElement.onchange = function () {
            let value = quantityElement.value * document.querySelector('#currentPrice').value;
            priceDisplay.innerText = new Intl.NumberFormat('ko-KR', {
                style: 'currency',
                currency: 'KRW'
            }).format(value);
        };

        quantityElement.onkeyup = function () {
            let value = quantityElement.value * document.querySelector('#currentPrice').value;
            priceDisplay.innerText = new Intl.NumberFormat('ko-KR', {
                style: 'currency',
                currency: 'KRW'
            }).format(value);
        };

    }());
</script>
<script th:if="${product.isSale()}">
    (function () {
        const quantityElement = document.querySelector('#quantity');
        const salePriceDisplay = document.querySelector('#salePriceDisplay');

        quantityElement.onkeyup = function () {
            let value = quantityElement.value * document.querySelector('#currentSalePrice').value;
            salePriceDisplay.innerText = new Intl.NumberFormat('ko-KR', {
                style: 'currency',
                currency: 'KRW'
            }).format(value);
        };
    }());
</script>

<script th:replace="fragments.html::uiScripts"></script>
<script th:replace="fragments.html::date-time"></script>
</html>