<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
<span th:replace="fragments.html::main-nav"></span>
<header>
    <div class="page-header min-vh-100">
        <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                 style="background-image:url('/images/card-2.jpg')">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 d-flex justify-content-center flex-column">
                    <div class="card shadow-xl mt-8">

                        <div class="card-header text-left">
                            <h1 class="font-weight-bolder text-info text-gradient fadeIn1 fadeInBottom">배송 정보 수정</h1>
                        </div>

                        <div class="card-body">
                            <div class="row justify-content-center">

                                <form class="needs-validation col-sm-10" action="#"
                                      th:action="@{/account/settings/address}"
                                      th:object="${address}"
                                      method="post" novalidate>

                                    <div class="form-group">
                                        <label for="city">도시</label>
                                        <input id="city" type="text" th:field="*{city}" class="form-control"
                                               placeholder="city" required/>
                                        <small id="cityHelp" class="form-text text-muted">
                                            살고 계신 도시 이름을 적어주세요.
                                        </small>
                                        <small class="invalid-feedback"> 도시 이름을 입력하세요.</small><br/>
                                    </div>

                                    <div class="form-group">
                                        <label for="city">거리</label>
                                        <input id="street" type="text" th:field="*{street}" class="form-control"
                                               placeholder="street" required/>
                                        <small id="streetHelp" class="form-text text-muted">
                                            거리 이름을 적어주세요.
                                        </small>
                                        <small class="invalid-feedback"> 거리 이름을 입력하세요.</small><br/>
                                    </div>

                                    <div class="form-group">
                                        <label for="city">우편번호</label>
                                        <input id="zipcode" type="text" th:field="*{zipcode}"
                                               class="form-control" placeholder="zipcode" required/>
                                        <small id="zipcodeHelp" class="form-text text-muted">
                                            우편 번호를 적어주세요.
                                        </small>
                                        <small class="invalid-feedback"> 우편 번호를 입력하세요.</small><br/>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn bg-gradient-info btn-lg w-100 text-lg">
                                            수정하기
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<footer th:replace="fragments.html::footer"></footer>
</body>
<script th:replace="fragments.html::uiScripts"></script>
<script th:replace="fragments.html::validate-form"></script>
</html>