<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="_csrf" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" id="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Soft UI Design System -->
    <link type="text/css" href="/css/soft-design-system-pro.min.css" rel="stylesheet">


    <title>E-Commerce</title>
</head>


<div th:fragment="uiScripts">
    <!--   Core JS Files   -->
    <script src="/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="/js/plugins/moment.min.js"></script>
    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/js/plugins/nouislider.min.js"></script>

    <!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/  -->
    <script src="/js/plugins/glidejs.min.js"></script>

    <!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
    <script src="/js/plugins/choices.min.js" type="text/javascript"></script>


    <!-- Control Center for Soft UI Design System: parallax effects, scripts for the example pages etc -->
    <script src="/js/soft-design-system-pro.min.js" type="text/javascript"></script>
</div>


<!-- NAVIGATION_START -->
<span th:fragment="main-nav">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4 px-0">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/" th:href="@{/}">
                            <span class="text-muted">E-Commerce</span>
                        </a>
                        <button class="navbar-toggler shadow-none ms-md-2 collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navigation"
                                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                        </button>
                        <div class="navbar-collapse w-100 pt-3 pb-2 py-lg-0 collapse" id="navigation">
                            <ul class="navbar-nav navbar-nav-hover mx-auto">
                                <li class="nav-item dropdown dropdown-hover mx-2">
                                    <a role="button"
                                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                                       id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="true">
                                        Products
                                        <img src="/images/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1"/>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                                         aria-labelledby="dropdownMenuBlocks" data-bs-popper="none">
                                        <span th:each="category : ${categories}">
                                            <!-- DESKTOP -->
                                            <div class="d-none d-lg-block">
                                                <ul class="list-group">
                                                    <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                                                            <div class="d-flex">
                                                                <div class="icon h-10 me-3 d-flex mt-1">
                                                                    <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                                                                </div>
                                                                <div class="w-100 d-flex justify-content-between align-items-center">
                                                                    <div>
                                                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center p-0"
                                                                            th:text="${category.title}">
                                                                            Page Sections
                                                                        </h6>
                                                                        <span class="text-sm"
                                                                              th:text="${category.description}">See all 109 Sections</span>
                                                                    </div>
                                                                    <img src="/images/down-arrow.svg" alt="down-arrow"
                                                                         class="arrow"/>
                                                                </div>
                                                            </div>
                                                        </a>

                                                        <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                                                            <a class="dropdown-item ps-3 border-radius-md mb-1"
                                                               th:each="childCategory : ${category.childCategory}"
                                                               href="#"
                                                               th:href="@{/product(category=${childCategory.title})}"
                                                               th:if="${childCategory.publish}"
                                                               th:text="${childCategory.title}"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- MOBILE -->
                                            <div class="row d-lg-none">
                                                <div class="col-md-12">
                                                    <div class="d-flex mb-2">
                                                        <div class="icon h-10 me-3 d-flex mt-1">
                                                            <!-- TODO CATEGORY 별 아이콘 설정할 수 있게 하기 -->
                                                            <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                                                        </div>
                                                        <div class="w-100 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <h5 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                                                    th:text="${category.title}">
                                                                    Page Sections
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="dropdown-item ps-3 border-radius-md mb-1"
                                                   href="#" th:href="@{/product(category=${childCategory.title})}"
                                                   th:each="childCategory : ${category.childCategory}"
                                                   th:if="${childCategory.publish}"
                                                   th:text="${childCategory.title}">
                                                </a>
                                            </div>
                                        </span>
                                    </div>
                                </li>
                            </ul>

                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <form th:action="@{/search/product}" class="form-inline" method="get">
                                        <input class="form-control me-lg-8 text-center" name="keyword" type="search"
                                               placeholder="상품 검색"/>
                                    </form>
                                </li>
                            </ul>

                            <ul class="navbar-nav navbar-nav-hover mx-auto" sec:authorize="isAuthenticated()">
                                <li class="nav-item dropdown dropdown-hover mx-2">
                                    <a role="button"
                                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                                       id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="true">
                                        계정 관리
                                        <img src="/images/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1"/>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                                         aria-labelledby="dropdownMenuAccount" data-bs-popper="none">
                                        <!-- DESKTOP -->
                                        <div class="d-none d-lg-block">
                                            <ul class="list-group">
                                                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="ni ni-circle-08 text-gradient- text-primary"></i>
                                                            </div>
                                                            <div class="w-100 d-flex align-items-center ">
                                                                <div>
                                                                    <h6 class="dropdown-header text-primary text-gradient font-weight-bolder d-flex align-items-center p-0"
                                                                        th:text="${#authentication.name}">
                                                                        계정 이름
                                                                    </h6>
                                                                </div>
                                                                <img src="/images/down-arrow.svg" alt="down-arrow"
                                                                     class="arrow"/>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                                                        <h6 class="dropdown-header ms-1 text-dark font-weight-bolder d-flex align-items-center p-0">
                                                            계정 정보 설정
                                                        </h6>
                                                        <a class="dropdown-item ps-3 border-radius-md mb-1"
                                                           href="#" th:href="@{/account/settings/profile}">기본 정보 수정</a>
                                                        <a class="dropdown-item ps-3 border-radius-md mb-1"
                                                           href="#" th:href="@{/account/settings/address}">배송 정보 변경</a>
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                                                        <div class="d-flex">
                                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                                <i class="ni ni-lock-circle-open text-gradient text-primary"></i>
                                                            </div>
                                                            <div class="w-100 d-flex align-items-center">
                                                                <div>
                                                                    <h6 class="dropdown-header text-primary text-warning font-weight-bolder d-flex align-items-center p-0">
                                                                        <form class="form-inline my-2 my-lg-0"
                                                                              action="#" th:action="@{/logout}"
                                                                              method="post">
                                                                            <button class="dropdown-item text-dark"
                                                                                    type="submit">
                                                                                로그아웃
                                                                            </button>
                                                                        </form>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- MOBILE -->
                                        <div class="row d-lg-none">
                                            <div class="col-md-12">
                                                <div class="d-flex mb-2">
                                                    <div class="icon h-10 me-3 d-flex mt-1">
                                                        <i class="ni ni-circle-08 text-gradient text-primary"></i>
                                                    </div>
                                                    <div class="w-100 d-flex align-items-center justify-content-between">
                                                        <div>
                                                            <h6 class="dropdown-header text-primary text-gradient font-weight-bolder d-flex align-items-center p-0"
                                                                th:text="${#authentication.name}">
                                                                계정 이름
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6 class="dropdown-header ms-1 text-dark font-weight-bolder d-flex align-items-center p-0">
                                                            계정 정보 설정
                                            </h6>
                                            <a class="dropdown-item ps-3 border-radius-md mb-1"
                                               href="#" th:href="@{/account/settings/profile}">
                                                기본 정보 수정
                                            </a>
                                            <a class="dropdown-item ps-3 border-radius-md mb-1"
                                               href="#" th:href="@{/account/settings/address}">
                                                배송 정보 변경
                                            </a>
                                            <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}"
                                                  method="post">
                                                <button class="dropdown-item text-dark" type="submit">로그아웃</button>
                                            </form>
                                        </div>
                                    </div>


                                </li>
                            </ul>


                            <!-- SIGN_UP_LINK_ITEM -->
                            <ul class="navbar-nav justify-content-end ms-auto">
                                <!-- LOGIN -->
                                <li class="nav-item me-1" sec:authorize="isAnonymous()">
                                    <a class="nav-link" href="#" data-bs-toggle="modal"
                                       data-bs-target="#loginModal">로그인</a>
                                </li>
                                <!-- SIGN_UP -->
                                <li class="nav-item me-1" sec:authorize="isAnonymous()">
                                    <a class="nav-link" href="#" th:href="@{/sign-up}">가입</a>
                                </li>

                                <li class="nav-item me-1" sec:authorize="isAuthenticated()" >
                                    <a class="nav-link" href="#"
                                       th:href="@{/order/list}">주문 조회</a>
                                </li>

                                <!-- ADMIN_MENU -->
                                <li class="nav-item me-1" sec:authorize="hasRole('ROLE_ADMIN')" >
                                    <a class="nav-link" href="#"
                                       th:href="@{/admin/menu}">관리자 메뉴</a>
                                </li>

                                <!-- SELLER_MENU -->
                                <li class="nav-item me-1" sec:authorize="hasRole('ROLE_SELLER')">
                                    <a class="nav-link" href="#"
                                       th:href="@{/seller/menu}">판매자 메뉴</a>
                                </li>

                                <li class="nav-item me-1" sec:authorize="isAuthenticated()">
                                    <a class="nav-link" href="#" th:href="@{/shopping-bag/list}">
                                        <i class="ni ni-bag-17">
                                            <span class="text-primary text-bolder" th:text="${shoppingBagCount}">1</span>
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- LOGIN_MODAL -->
    <div class="modal fade fadeIn1 fadeInBottom" id="loginModal" sec:authorize="isAnonymous()" tabindex="-1"
         aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 350px;">
            <!-- CONTENT -->
            <div class="modal-content">
                <!-- BODY -->
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h3 class="font-weight-bolder fadeIn5 fadeInBottom text-info text-gradient">잘 돌아오셨어요!</h3>
                            <p class="mb-0 fadeIn5 fadeInBottom">로그인 하시려면 이메일 또는 닉네임과 패스워드를 입력해주세요.</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="#" th:action="@{/login}" method="post" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="username">이메일 또는 닉네임</label>
                                <input id="username" name="username" type="text" class="form-control"
                                       placeholder="your@email.com"
                                       aria-describedby="emailHelp" required>
                                <small id="emailHelp" class="form-text text-muted">
                                    가입할 때 사용한 이메일 또는 닉네임을 입력하세요.
                                </small>
                                <small class="invalid-feedback">이메일을 입력하세요.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호</label>
                                <input id="password" name="password" type="password" class="form-control"
                                       placeholder="Password"
                                       aria-describedby="passwordHelp" required/>
                                <small id="passwordHelp" class="form-text text-muted">
                                    비밀번호가 기억나지 않는다면, <strong><a href="#"
                                                                th:href="@{/reset-password}">비밀번호 변경하기</a></strong>
                                </small>
                                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me"
                                       checked>
                                <label class="form-check-label" for="remember-me">로그인 유지</label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">로그인</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script sec:authorize="isAnonymous()" th:replace="fragments.html::validate-form"></script>
</span>
<!-- NAVIGATION_END -->

<!-- FORM_VALIDATION -->
<script th:fragment="validate-form">
    (function () {
        'use strict';

        const forms = document.getElementsByClassName('needs-validation');

        Array.prototype.filter.call(forms, function (form) {
            form.onsubmit = function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            };
        }, false);
    }());
</script>
<!-- WAVE_ANIMATION -->
<div th:fragment="wave-animation" class="position-absolute w-100 z-index-1 bottom-0">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave"
                  d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
        </defs>
        <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"/>
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"/>
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"/>
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"/>
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"/>
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"/>
        </g>
    </svg>
</div>

<div th:fragment="editor-script">
    <script src="/node_modules/tinymce/tinymce.min.js"></script>
    <script>
        (function () {
            tinymce.init({
                selector: '.editor',
                plugins: 'image code, autoresize',
                images_upload_url: 'postAcceptor.php',
                branding: false,
                automatic_uploads: false
            })
        }());
    </script>
</div>

<script th:fragment="currencyFormatter">
    (function () {
        let priceDisplay = document.querySelector('#formattedPrice');
        priceDisplay.style.display = 'none';
        const productValueInput = document.querySelector('#productPrice');

        productValueInput.onkeyup = function () {
            let value = productValueInput.value;
            priceDisplay.innerText = new Intl.NumberFormat('ko-KR', {
                style: 'currency',
                currency: 'KRW'
            }).format(value);
            if (priceDisplay.style.display === 'none') {
                priceDisplay.style.display = 'block';
            }
        };

    }());
</script>


<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        (function () {
            function momentFunction(e, localizedFormat) {
                e.innerText = moment(e.textContent, 'YYYY-MM-DD`T`hh:mm').format(localizedFormat);
            }

            moment().format();
            moment.locale('ko');

            function searchElementAndMoment(elementName, localizedFormat) {
                const element = document.querySelectorAll(elementName);
                element.forEach(e => {
                    momentFunction(e, localizedFormat);
                });
            }

            const elementMap = new Map();
            elementMap.set('.date-time', 'LLL');
            elementMap.set('.date', 'LL');
            elementMap.set('.weekday', 'dddd');
            elementMap.set('time', 'LT');
            elementMap.set('.date-weekday-time', 'LLLL');

            elementMap.forEach((localizedFormat, elementName) => {
                searchElementAndMoment(elementName, localizedFormat);
            });


            const calendar = document.querySelectorAll('.calendar');
            calendar.forEach(e => {
                e.innerText = moment(e.textContent, 'YYYY-MM-DD`T`hh:mm').calendar();
            });

            const fromNow = document.querySelectorAll('.fromNow');
            fromNow.forEach(e => {
                e.innerText = moment(e.textContent, 'YYYY-MM-DD`T`hh:mm').fromNow();
            });


        }());
    </script>
</div>


<footer th:fragment="footer" class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5"/>
    <div class="row">
        <div class="col-md-3 mb-4 ms-auto">
            <div>
                <h6 class="text-gradient text-primary font-weight-bolder">E-Commerce&trade;</h6>
            </div>
            <div>
                <h6 class="mt-3 mb-2 opacity-8">Social</h6>
                <ul class="d-flex flex-row ms-n3 nav">
                    <li class="nav-item">
                        <a class="nav-link pe-1" href="https://github.com/twosom" target="_blank">
                            <i class="fab fa-github text-lg opacity-8" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>

</html>