<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
<span th:replace="fragments.html::main-nav"></span>
<section>
    <div class="page-header min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">

                    <div class="alert alert-primary text-white" th:if="${message}" th:text="${message}">MESSAGE</div>

                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h4 class="font-weight-bolder">비밀번호 초기화</h4>
                            <p class="mb-0">가입하신 이메일을 입력하셔서 인증코드를 받으세요.</p>
                        </div>
                        <div class="card-body">

                            <form th:if="${emailSended == null}" class="needs-validation" action="#"
                                  th:action="@{/reset-password/send-email}" method="post"
                                  th:object="${resetPasswordForm}" novalidate>
                                <div class="form-group">
                                    <input type="email" th:field="*{email}" class="form-control form-control-lg"
                                           placeholder="가입하신 이메일을 입력해주세요.">
                                    <small class="invalid-feedback">이메일을 입력하세요.</small><br/>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                           th:errors="*{email}"></small>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-info btn-lg w-100 my-4">전송
                                    </button>
                                </div>
                            </form>


                            <form th:if="${emailSended != null}" action="#" class="needs-validation"
                                  th:action="@{/reset-password/verification-code}" method="post"
                                  th:object="${emailSendedResetPasswordForm}" novalidate>
                                <div class="form-group">
                                    <input type="email" th:field="*{email}" class="form-control form-control-lg"
                                           placeholder="가입하신 이메일을 입력해주세요." required>

                                </div>
                                <div class="form-group" th:if="${emailSended}">
                                    <input type="text" th:field="*{verificationCode}"
                                           class="form-control form-control-lg"
                                           placeholder="전송된 인증코드를 입력해주세요." required>

                                    <span th:object="${resetPasswordForm}">
                                        <div class="alert alert-warning mt-1" th:if="${#fields.hasErrors('verificationCode')}">
                                            <strong class="text-white" th:errors="*{verificationCode}"></strong>
                                        </div>
                                    </span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-info btn-lg w-100 my-4">전송
                                    </button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                    <div class="position-relative bg-gradient-dark h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                        <img src="/images/shapes/pattern-lines.svg" alt="pattern-lines"
                             class="position-absolute opacity-4 start-0">
                        <div class="position-relative">
                            <img class="max-width-500 w-100 position-relative z-index-2"
                                 src="/images/illustrations/lock.png" alt="locked">
                        </div>
                        <h4 class="mt-5 text-white font-weight-bolder">비밀번호를 잊으셨다구요?</h4>
                        <p class="text-white">가입한 이메일을 입력해서 계정을 찾으세요.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments.html::footer"></footer>
</body>
<script th:replace="fragments.html::uiScripts"></script>
<script th:replace="fragments.html::validate-form"></script>
</html>