<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
<span th:replace="fragments.html::main-nav"></span>
<header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('/images/curved-images/curved-8.jpg')">
        <div class="mask bg-gradient-light opacity-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">판매자 메뉴</h1>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html::wave-animation"></div>
    </div>
</header>
<section class="py-lg-5">
    <div class="container">
        <div class="row mt-lg-5 mt-4">

            <div class="col-lg-4 col-md-6 mb-5">
                <!-- PRODUCT -->
                <div class="card">
                    <div class="card-body border-radius-lg position-relative overflow-hidden pb-4 px-sm-5">
                        <img class="w-15 mb-3" src="/images/product-icon.png" alt="sorting icon"/>
                        <h5 class="mt-2">상품</h5>
                        <p class="mb-3">
                            판매중인 상품을 관리합니다.
                        </p>
                        <a href="#"
                           class="font-weight-bold text-lg text-uppercase font-weight-bolder text-info icon-move-right"
                           th:href="@{/seller/product}">
                            바로가기
                            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<footer th:replace="fragments.html::footer"></footer>
</body>
<script th:replace="fragments.html::uiScripts"></script>
</html>